.login-form-title-container {
    text-align: center;
    margin-top: 8%;
}

.login-form-logo {
    width: 5%;
}

.login-button-container {
    height: 40px;
}

.login-button {
    width: 100%;
}

.login-form {
    max-width: 400px;
    margin: 2% auto 0 auto;
}

.login-failure-alert {
    text-align: center;
    margin-top: 10px;
}
